@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Himlen Apotek</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="https://wilsondisplay.com/cms/media/wilson-display_pharmacy-displays_11-1024x768.jpg" alt="Våra Apotek" style="width:500px;height:600px;">
</div>
