@page
@model InlämningsUppgift_ApotekWebbsida.Pages.NewProductModel
@{
}
<h1>Edit product</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Namn">Namn</label>
        <input class="form-control" asp-for="Namn">
        <span asp-validation-for="Namn" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Beskrivning">Beskrivning</label>
        <input class="form-control" asp-for="Beskrivning">
        <span asp-validation-for="Beskrivning" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pris">Pris</label>
        <input class="form-control" asp-for="Pris">
        <span asp-validation-for="Pris" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Varumärke">Varumärke</label>
        <input class="form-control" asp-for="Varumärke">
        <span asp-validation-for="Varumärke" class="field-validation-error"></span>
    </div>


    <button type="submit" class="btn btn-primary">Spara</button>
</form>